{% extends 'users/base.html' %}

{% block title %}Update Task{% endblock %}

{% block content %}
<h2 class="text-center mb-4">Update Task</h2>

<form method="POST" class="p-4 bg-light rounded shadow-sm">
    {% csrf_token %}
    <div class="form-group mb-3">
        {% for field in form %}
            <div class="mb-3">
                <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}</label>
                <br>
                {{ field }}
            </div>
        {% endfor %}
    </div>

    <button type="submit" class="btn btn-warning btn-lg w-100">Update Task</button>
</form>
{% endblock %}
