{% extends 'users/base.html' %}

{% block title %}Dashboard{% endblock %}

{% block content %}
<h2>Welcome {{ user.username  }}</h2>
<h3>Your Tasks</h3>
<ul>
    {% for task in tasks %}
    <li>{{ task.title }} - Due: {{ task.due_date }}</li>
    {% empty %}
    <p>You have no assigned tasks.</p>
    {% endfor %}
</ul>

<h3>Team Tasks</h3>
<ul>
    {% for task in team_tasks %}
    <li>{{ task.title }} - Due: {{ task.due_date }} (Assigned to: {{ task.assigned_to.username }})</li>
    {% empty %}
    <p>Your team has no tasks.</p>
    {% endfor %}
</ul>
<h3>Your Teams</h3>
<ul>
    {% for team in teams %}
    <li>{{ team.name }}</li>
    {% empty %}
    <p>You are not managing any teams.</p>
    {% endfor %}
</ul>
{% endblock %}